* {
  box-sizing: border-box;
}

body{
    background-color: teal;
    background-image: url('../images/dexterwallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Caveat', cursive;
}

hr {
  opacity: 0;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-style: italic;
}

.btn {
  font-size: 25px;
  margin: 10px;
}

.jumbotron {
  color: white;
  background-image: linear-gradient(0deg, black, rgba(185,8,8,.6));
  background-color: rgba(0,0,0,0);
}

#gameBoard {
  padding: 20px;
  background-image:linear-gradient(0deg, rgba(185,8,8,.6), black);
  color: white;
}

.timer {
  background-color:white;
  font-size: 32px;
  margin: 10px;
}

li {
  list-style: none;
}
